
			@font-face {
				font-family: "violeit-jin-sharp-pixel";
				src: url("/assets/fonts/students/vfw24-section3/VioleitJin-SharpPixel.ttf");
				
			}
			@keyframes preview-violeit-jin-sharp-pixel {
				0% { font-variation-settings: 'SHRP' 0 } 100% { font-variation-settings: 'SHRP' 100 }
			}
			[data-font="violeit-jin-sharp-pixel"] .menu-fonts-item-preview {
				font-family: "violeit-jin-sharp-pixel";
				font-variation-settings: "SHAP" 0;
				
			}
			[data-font="violeit-jin-sharp-pixel"]:hover .menu-fonts-item-preview {
				animation: preview-violeit-jin-sharp-pixel 1s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "authentic-remixed";
				src: url("/assets/fonts/tmt/TMT-AUTHENTICRemixedVF.ttf");
				
			}
			@keyframes preview-authentic-remixed {
				0% { font-variation-settings: 'XAXI' 0, 'YAXI' 0; } 20% { font-variation-settings: 'XAXI' 100, 'YAXI' 10; } 40% { font-variation-settings: 'XAXI' -100, 'YAXI' 100; } 60% { font-variation-settings: 'XAXI' -100, 'YAXI' -100; } 80% { font-variation-settings: 'XAXI' 100, 'YAXI' -100; } 100% { font-variation-settings: 'XAXI' 0, 'YAXI' 0; }
			}
			[data-font="authentic-remixed"] .menu-fonts-item-preview {
				font-family: "authentic-remixed";
				font-variation-settings: "XAXI" 0, "YAXI" 0;
				
			}
			[data-font="authentic-remixed"]:hover .menu-fonts-item-preview {
				animation: preview-authentic-remixed 2s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "avara-burst";
				src: url("/assets/fonts/tmt/TMT-AvaraBurstVF.ttf");
				
			}
			@keyframes preview-avara-burst {
				0% { font-variation-settings: 'BRST' 0; } 17% { font-variation-settings: 'BRST' 1; } 34% { font-variation-settings: 'BRST' 0; } 100% { font-variation-settings: 'BRST' 3; }
			}
			[data-font="avara-burst"] .menu-fonts-item-preview {
				font-family: "avara-burst";
				font-variation-settings: "BRST" 0;
				
			}
			[data-font="avara-burst"]:hover .menu-fonts-item-preview {
				animation: preview-avara-burst 1s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "bashful";
				src: url("/assets/fonts/tmt/TMT-BashfulVF.ttf");
				
			}
			@keyframes preview-bashful {
				0% { font-variation-settings: 'BASH' 0; } 100% { font-variation-settings: 'BASH' 100; }
			}
			[data-font="bashful"] .menu-fonts-item-preview {
				font-family: "bashful";
				font-variation-settings: "BASH" 0;
				
			}
			[data-font="bashful"]:hover .menu-fonts-item-preview {
				animation: preview-bashful 1s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "caffeine";
				src: url("/assets/fonts/tmt/TMT-CaffeineVF.ttf");
				
			}
			@keyframes preview-caffeine {
				0% { font-variation-settings: 'SCRI' 0, 'SCRA' 0; } 20% { font-variation-settings: 'SCRI' 0, 'SCRA' 50; } 40% { font-variation-settings: 'SCRI' 100, 'SCRA' 0; } 60% { font-variation-settings: 'SCRI' 75, 'SCRA' 50; } 80% { font-variation-settings: 'SCRI' 25, 'SCRA' 100; } 100% { font-variation-settings: 'SCRI' 50, 'SCRA' 0; }
			}
			[data-font="caffeine"] .menu-fonts-item-preview {
				font-family: "caffeine";
				font-variation-settings: "SCRI" 0, "SCRA" 0;
				
			}
			[data-font="caffeine"]:hover .menu-fonts-item-preview {
				animation: preview-caffeine 1s infinite steps(1);
			}
		
			@font-face {
				font-family: "dreidel";
				src: url("/assets/fonts/tmt/TMT-DreidelVF.ttf");
				
			}
			@keyframes preview-dreidel {
				0% { font-variation-settings: 'SPIN' -45; } 100% { font-variation-settings: 'SPIN' 405; }
			}
			[data-font="dreidel"] .menu-fonts-item-preview {
				font-family: "dreidel";
				font-variation-settings: "SPIN" -45;
				
			}
			[data-font="dreidel"]:hover .menu-fonts-item-preview {
				animation: preview-dreidel 2s infinite ease-in-out;
			}
		
			@font-face {
				font-family: "limkin";
				src: url("/assets/fonts/tmt/TMT-LimkinVF.ttf");
				font-weight: 100 900;
			}
			@keyframes preview-limkin {
				0% { font-variation-settings: 'wght' 500, 'SRFF' 100; } 100% { font-variation-settings: 'wght' 500, 'SRFF' 0; }
			}
			[data-font="limkin"] .menu-fonts-item-preview {
				font-family: "limkin";
				font-variation-settings: "wght" 500, "SRFF" 100;
				
			}
			[data-font="limkin"]:hover .menu-fonts-item-preview {
				animation: preview-limkin 1s infinite alternate ease-in-out;
			}
		
			@font-face {
				font-family: "limkin-pixel";
				src: url("/assets/fonts/tmt/TMT-LimkinPixelVF.ttf");
				font-weight: 100 900;
			}
			@keyframes preview-limkin-pixel {
				0% { font-variation-settings: 'wght' 500; } 25% { font-variation-settings: 'wght' 100; } 50% { font-variation-settings: 'wght' 500; } 75% { font-variation-settings: 'wght' 900; } 100% { font-variation-settings: 'wght' 500; }
			}
			[data-font="limkin-pixel"] .menu-fonts-item-preview {
				font-family: "limkin-pixel";
				font-variation-settings: "wght" 500;
				
			}
			[data-font="limkin-pixel"]:hover .menu-fonts-item-preview {
				animation: preview-limkin-pixel 3s infinite ease-in-out;
			}
		
			@font-face {
				font-family: "mini-mochi";
				src: url("/assets/fonts/tmt/TMT-MiniMochiVF.ttf");
				
			}
			@keyframes preview-mini-mochi {
				0% { font-variation-settings: 'STCH' 50, 'FLAV' 0, 'SLCE' 0; } 17% { font-variation-settings: 'STCH' 100, 'FLAV' 0, 'SLCE' 0; } 34% { font-variation-settings: 'STCH' 0, 'FLAV' 0, 'SLCE' 0; } 51% { font-variation-settings: 'STCH' 100, 'FLAV' 100, 'SLCE' 0; } 68% { font-variation-settings: 'STCH' 0, 'FLAV' 100, 'SLCE' 0; } 85% { font-variation-settings: 'STCH' 100, 'FLAV' 100, 'SLCE' 100; } 100% { font-variation-settings: 'STCH' 0, 'FLAV' 100, 'SLCE' 100; }
			}
			[data-font="mini-mochi"] .menu-fonts-item-preview {
				font-family: "mini-mochi";
				font-variation-settings: "STCH" 50, "FLAV" 0, "SLCE" 0;
				
			}
			[data-font="mini-mochi"]:hover .menu-fonts-item-preview {
				animation: preview-mini-mochi 4s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "music-box";
				src: url("/assets/fonts/tmt/TMT-MusicBoxVF.ttf");
				
			}
			@keyframes preview-music-box {
				0% { font-variation-settings: 'FREQ' 0, 'AMPL' 50; } 25% { font-variation-settings: 'FREQ' 100, 'AMPL' 50; } 50% { font-variation-settings: 'FREQ' 0, 'AMPL' 50; } 75% { font-variation-settings: 'FREQ' -100, 'AMPL' 50; } 100% { font-variation-settings: 'FREQ' 0, 'AMPL' 50; }
			}
			[data-font="music-box"] .menu-fonts-item-preview {
				font-family: "music-box";
				font-variation-settings: "FREQ" 0, "AMPL" 50;
				
			}
			[data-font="music-box"]:hover .menu-fonts-item-preview {
				animation: preview-music-box 2s infinite cubic-bezier(0.16, 1, 0.3, 1);
			}
		
			@font-face {
				font-family: "powerpack";
				src: url("/assets/fonts/tmt/TMT-PowerPackVF.ttf");
				
			}
			@keyframes preview-powerpack {
				0% { font-variation-settings: 'CHRG' 0, 'POWR' 0; } 50% { font-variation-settings: 'CHRG' 0, 'POWR' 100; } 100% { font-variation-settings: 'CHRG' 100, 'POWR' 100; }
			}
			[data-font="powerpack"] .menu-fonts-item-preview {
				font-family: "powerpack";
				font-variation-settings: "CHRG" 0, "POWR" 0;
				
			}
			[data-font="powerpack"]:hover .menu-fonts-item-preview {
				animation: preview-powerpack 2s infinite ease-in-out alternate;
			}
		
			@font-face {
				font-family: "that-then-this";
				src: url("/assets/fonts/tmt/TMT-ThatThenThisVF.ttf");
				
			}
			@keyframes preview-that-then-this {
				0% { font-variation-settings: 'THAT' 0, 'THIS' 0; } 25% { font-variation-settings: 'THAT' 0, 'THIS' 100; } 50% { font-variation-settings: 'THAT' 100, 'THIS' 100; } 75% { font-variation-settings: 'THAT' 100, 'THIS' 0; } 100% { font-variation-settings: 'THAT' 0, 'THIS' 0; }
			}
			[data-font="that-then-this"] .menu-fonts-item-preview {
				font-family: "that-then-this";
				font-variation-settings: "THAT" 0, "THIS" 0;
				
			}
			[data-font="that-then-this"]:hover .menu-fonts-item-preview {
				animation: preview-that-then-this 2s infinite ease-in-out;
			}
		
			@font-face {
				font-family: "work-sans-galapagos";
				src: url("/assets/fonts/tmt/TMT-WorkSansGalapagosVF.ttf");
				font-weight: 100 900;
			}
			@keyframes preview-work-sans-galapagos {
				0% { font-variation-settings: 'wght' 500, 'SHLL' 100; } 17% { font-variation-settings: 'wght' 500, 'SHLL' 0; } 34% { font-variation-settings: 'wght' 900, 'SHLL' 100; } 51% { font-variation-settings: 'wght' 900, 'SHLL' 0; } 68% { font-variation-settings: 'wght' 100, 'SHLL' 100; } 85% { font-variation-settings: 'wght' 100, 'SHLL' 0; } 100% { font-variation-settings: 'wght' 500, 'SHLL' 100; }
			}
			[data-font="work-sans-galapagos"] .menu-fonts-item-preview {
				font-family: "work-sans-galapagos";
				font-variation-settings: "wght" 500, "SHLL" 100;
				font-feature-settings: 'ss01' 1, 'ss06' 1;
			}
			[data-font="work-sans-galapagos"]:hover .menu-fonts-item-preview {
				animation: preview-work-sans-galapagos 5s infinite ease-in-out;
			}
		