* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--white: #e5e5e5;
	--primary: white;
	--fontsize: 64px;
	--letterspacing: 0em;
	--lineheight: 1em;
	--alignment: center;
	--capitalization: normal;
}
body {
	background-color: var(--primary);
	color: var(--black);
	font-family: "limkin", sans-serif;
	font-weight: 500;
	font-variation-settings: "wght" 500, "SRFF" 0;
	transition: background-color 2s;
}
::-webkit-scrollbar {
    display: none;
}
button {
	font-family: "limkin", sans-serif;
	font-weight: 500;
	font-variation-settings: "wght" 500, "SRFF" 0;
	border: unset;
	font-size: 16px;
	line-height: 1.2em;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
}
.background {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200vw;
	height: 200vh;
	transform-origin: center;
	background-image: linear-gradient(45deg, var(--white) 25%, transparent 25%), linear-gradient(-45deg, var(--white) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--white) 75%), linear-gradient(-45deg, transparent 75%, var(--white) 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	animation: background-move 2s infinite cubic-bezier(0.83, 0, 0.17, 1);
	transition: transform 2s, background-image 2s;
	z-index: -1;
}
.background[data-motion="0"] {
	animation: unset;
}
.background[data-checkerboard="0"] {
	background-image: unset;
	background-color: var(--white);
}
@keyframes background-move {
	0% {
		background-position: 0px 0px, 0px 10px, 10px -10px, -10px 0px;
	}
	50% {
		background-position: 10px 0px, 10px 10px, 20px -10px, 0px 0px;
	}
	100% {
		background-position: 10px -10px, 10px 0px, 20px -20px, 0px -10px;
	}
}

/* User-dropped font message */
.droparea-message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	pointer-events: none;
	z-index: 999999;
	border: 20px solid var(--primary);
	background-color: rgba(0,0,0,.9);
	transition: border .5s, opacity .2s;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	color: var(--white);
	text-align: center;
	padding: 20px;
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
	text-wrap: pretty;
	opacity: 1;
}
.droparea-message[data-active="0"] {
	opacity: 0;
}

/* Intro */
.intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	cursor: pointer;
}
.intro[data-active="0"] {
	pointer-events: none;
}
.intro-logo {
	font-family: "bashful", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.intro-logo-line {
	position: relative;
	font-size: 14vmin;
	background-color: var(--black);
	border-radius: 2vmin;
	padding: .3em .3em .2em .3em;
	line-height: .8em;
	transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1), background-color 1s, color 1s;
	transform: unset;
	display: flex;
	align-items: center;
	justify-content: center;
}
.intro[data-active="0"] .intro-logo-line {
	transform: translateY(-100dvh) rotate(-30deg);
	transition: transform .5s ease, background-color 1s, color 1s;
	transition-delay: unset;
}
.intro-logo-line1 {
	color: var(--primary);
	transform-origin: bottom right;
}
.intro[data-active="0"] .intro-logo-line1 {
	transform: translateY(-100dvh) rotate(-30deg);
}
.intro-logo-line2 {
	background-color: var(--primary);
	transform-origin: right center;
	transition-delay: .1s;
}
.intro[data-active="0"] .intro-logo-line2 {
	transform: translateX(-100vw) rotate(-15deg);
}
.intro-logo-line3 {
	color: var(--primary);
	transform-origin: top right;
	transition-delay: .2s;
}
.intro[data-active="0"] .intro-logo-line3 {
	transform: translateY(100dvh) rotate(30deg);
}
.intro-logo-line span {
	animation: logo-letter 1s infinite alternate ease-in-out;
}
@keyframes logo-letter {
	from {
		font-variation-settings: "BASH" 0;
	}
	to {
		font-variation-settings: "BASH" 100;
	}
}
.intro-logo-bolt {
	position: absolute;
	height: 2vmin;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: var(--black);
	transition: background-color 1s;
}
.intro-logo-line1 .intro-logo-bolt,
.intro-logo-line3 .intro-logo-bolt {
	background-color: var(--primary);
}
.intro-logo-bolt[data-position="0"] {
	top: 1vmin;
	left: 1vmin;
}
.intro-logo-bolt[data-position="1"] {
	top: 1vmin;
	right: 1vmin;
}
.intro-logo-bolt[data-position="2"] {
	bottom: 1vmin;
	left: 1vmin;
}
.intro-logo-bolt[data-position="3"] {
	bottom: 1vmin;
	right: 1vmin;
}
.intro-cta {
	position: absolute;
	bottom: 20px;
	padding: 10px 40px;
	border-radius: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--white);
	color: var(--black);
	transition: transform .5s .5s, color .2s, background-color .2s, opacity .2s;
}
.intro-cta:hover {
	background-color: var(--black);
	color: var(--white);
}
.intro-cta:active {
	opacity: .5;
}
.intro[data-active="0"] .intro-cta {
	transform: translateX(-50%) translateY(calc(100% + 20px));
	transition: transform .2s;
}
.intro-cta-bolt {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--black);
	transition: background-color .2s;
}
.intro-cta:hover .intro-cta-bolt {
	background-color: var(--white);
}
.intro-cta-bolt[data-position="0"] {
	top: 5px;
	left: 5px;
}
.intro-cta-bolt[data-position="1"] {
	top: 5px;
	right: 5px;
}
.intro-cta-bolt[data-position="2"] {
	bottom: 5px;
	left: 5px;
}
.intro-cta-bolt[data-position="3"] {
	bottom: 5px;
	right: 5px;
}
.intro-cta-text {
	animation: intro-cta 1s steps(1) infinite;
	font-size: 14px;
	margin-right: -.1em;
	letter-spacing: .1em;
	padding-top: .2em;
	text-transform: uppercase;
	white-space: nowrap;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
}
@keyframes intro-cta {
	0% { opacity: 1; }
	50% { opacity: 0; }
}

/* Navbar */
.nav {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px;
	gap: 10px;
	white-space: nowrap;
	overflow-x: scroll;
	transform: translate(-50%, 0);
	transition: transform .5s;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
}
.nav[data-active="0"] {
	transform: translate(-50%, -150%);
}
.nav-section {
	display: flex;
	align-items: center;
	padding: 0 5px;
	border-radius: 0 0 20px 20px;
	height: 40px;
	background-color: var(--black);
	gap: 5px;
}
.nav-section-arrow {
	border-radius: 15px;
	width: 30px;
	height: 30px;
	background-color: var(--primary);
	border: unset;
	fill: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	transition: background-color .2s, opacity .2s;
	cursor: pointer;
}
.nav-section-arrow:hover {
	background-color: var(--white);
}
.nav-section-arrow:active {
	opacity: .5;
}
.nav-section-arrow svg {
	width: 100%;
	height: 100%;
}
.nav-section-content {
	flex-grow: 1;
	text-align: center;
	border: unset;
	background-color: unset;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	height: 100%;
	padding: 0 20px;
	transition: background-color .2s, color .2s, opacity .2s;
}
.nav-section-content:hover {
	background-color: var(--white);
	color: var(--black);
}
.nav-section-content:active {
	opacity: .5;
}
.nav-section-title {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	color: var(--primary);
	line-height: 1em;
	transition: color .2s;
}
.nav-section-content:hover .nav-section-title {
	color: var(--black);
}
.nav-section-info {
	font-size: 14px;
	line-height: 1em;
	font-weight: 550;
	font-variation-settings: "wght" 550, "SRFF" 0;
}

/* Controls */
.controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	transition: transform .5s;
	z-index: 9;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
}
.controls[data-open="0"] {
	transform: translateY(calc(100% - 40px));
}
.controls[data-active="0"] {
	transform: translateY(150%);
}
.controls-tabs {
	display: flex;
	overflow-x: scroll;
	max-width: 100%;
	white-space: nowrap;
	margin: 0 auto;
}
.controls-tab {
	border-radius: 40px 40px 0 0;
	padding: 10px 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	color: var(--white);
	fill: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	line-height: 1em;
	transition: background-color .2s, color .2s, opacity .2s, fill .2s;
	border: unset;
	cursor: pointer;
}
.controls-tab svg {
	width: 15px;
	height: 15px;
}
.controls-tab span {
	padding-top: .1em;
}
.controls-tab[data-active="1"] {
	background-color: var(--primary);
	color: var(--black);
	fill: var(--black);
	position: relative;
	z-index: 2;
}
.controls-tab:hover {
	background-color: var(--white);
	color: var(--black);
	fill: var(--black);
}
.controls-tab:active {
	opacity: .5;
}
.controls-menu {
	height: 80px;
	background-color: var(--black);
	position: relative;
	z-index: 1;
}
.controls-menu-content {
	position: absolute;
	top: 0;
	left: 50%;
	padding: 20px 40px;
	max-width: 100%;
	width: min-content;
	display: flex;
	gap: 40px;
	overflow-x: scroll;
	margin: 0 auto;
	height: 100%;
	color: var(--white);
	align-items: center;
	white-space: nowrap;
	transition: transform .5s;
	transform: translate(-50%, 0);
}
.controls-menu-content[data-active="0"] {
	transform: translate(-50%, 100%);
}
.controls-menu-content > * {
	flex-shrink: 0;
}
.controls-menu-divider {
	height: 40px;
	width: 2px;
	border-radius: 1px;
	background-color: var(--primary);
}
.controls-menu-item {
	display: flex;
	align-items: center;
	gap: 10px;
}
.controls-menu-item-label {
	font-size: 14px;
	font-weight: 550;
	font-variation-settings: "wght" 550, "SRFF" 0;
	line-height: 1.2em;
	border-bottom: 2px solid var(--white);
	margin-right: 10px;
	padding-bottom: .2em;
	text-align: center;
}

/* Controls buttons */
.controls-menu-button {
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	padding: 5px 20px;
	gap: 10px;
	fill: var(--black);
	color: var(--black);
	transition: background-color .2s, color .2s, fill .2s, opacity .2s, border .2s;
	cursor: pointer;
	border: 2px solid var(--primary);
	font-size: 14px;
	font-weight: 550;
	font-variation-settings: "wght" 550, "SRFF" 0;
	line-height: 1em;
}
.controls-menu-button[data-state="0"] {
	background-color: var(--black);
	color: var(--primary);
	fill: var(--primary);
}
.controls-menu-button[data-state="disabled"] {
	opacity: .25;
	pointer-events: none;
}
.controls-menu-button:hover {
	border: 2px solid var(--white);
	background-color: var(--white);
	color: var(--black);
	fill: var(--black);
}
.controls-menu-button[data-state="0"]:hover {
	border: 2px solid var(--white);
	background-color: var(--black);
	color: var(--white);
	fill: var(--white);
}
.controls-menu-button:active {
	opacity: .5;
}
.controls-menu-button svg {
	height: 20px;
	width: 20px;
}
.controls-menu-button span {
	padding-top: .1em;
}

/* Controls sliders */
.controls-menu-slider {
	width: 200px;
	height: 40px;
	border-radius: 5px;
	padding: 2px;
	background-color: var(--black);
	fill: var(--black);
	color: var(--black);
	transition: background-color .2s, color .2s, fill .2s, opacity .2s, border .2s;
	cursor: pointer;
	position: relative;
	border: 2px solid var(--primary);
}
.controls-menu-slider:hover {
	border: 2px solid var(--white);
}
.controls-menu-slider:active {
	cursor: ew-resize;
}
.controls-menu-slider-fill {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: var(--primary);
	transition: background-color .2s;
}
.controls-menu-slider:hover .controls-menu-slider-fill {
	background-color: var(--white);
}
.controls-menu-slider-value {
	font-size: 12px;
	font-weight: 600;
	font-variation-settings: "wght" 600, "SRFF" 0;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary);
	padding: 0.35em 5px 0.15em 5px;
	border-radius: 10px;
	color: var(--black);
	transition: color .2s, background-color .2s;
}
.controls-menu-slider:hover .controls-menu-slider-value {
	background-color: var(--black);
	color: var(--white);
}

/* Controls menu color picker */
.controls-menu-color {
	border: unset;
	height: 40px;
	border-radius: 20px;
	background-color: var(--primary);
	padding: 5px 10px;
	width: 80px;
	fill: var(--black);
	color: var(--black);
	transition: background-color .2s, opacity .2s;
	cursor: pointer;
}
.controls-menu-color:hover {
	background-color: var(--white);
}
.controls-menu-color:active {
	opacity: .5;
}

/* Font menu */
.menu-fonts {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	overflow-y: scroll;
	transition: transform .5s cubic-bezier(0.25, 1, 0.5, 1);
}
.menu-fonts[data-active="0"] {
	transform: translateX(-150vw);
	pointer-events: none;
	transition: transform .5s;
}
.menu-fonts-items-empty {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: var(--black);
	color: var(--white);
	transform: translate(-50%, -50%);
	padding: 45px 80px 40px 80px;
	line-height: 1em;
	text-align: center;
	border-radius: 50%;
	font-size: 24px;
	z-index: 5;
	font-variation-settings: "wght" 700, "SRFF" 0;
	text-transform: uppercase;
	animation: menu-fonts-items-empty 1s infinite ease-in-out alternate;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
}
.menu-fonts[data-empty="0"] .menu-fonts-items-empty {
	display: none;
}
@keyframes menu-fonts-items-empty {
	from {
		transform: translate(-50%, -50%) rotate(-5deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(5deg);
	}
}
.menu-fonts-nav {
	position: sticky;
	bottom: 0;
	z-index: 999;
	display: grid;
	width: 100%;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	left: 10px;
	height: 60px;
	border-radius: 30px 30px 0 0;
	width: calc(100% - 20px);
	background-color: var(--black);
	padding: 10px;
	align-items: center;
	gap: 10px;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
	overflow-x: scroll;
	transform: translateY(0%);
	transition: transform .5s;
	white-space: nowrap;
}
.menu-fonts[data-active="0"] .menu-fonts-nav {
	transform: translateY(150%);
	transition: transform .5s;
}
.menu-fonts-nav-search {
	border-radius: 20px;
	height: 40px;
	background-color: var(--primary);
	fill: var(--black);
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	padding: 0 20px;
	transition: color .2s, background-color .2s, fill .2s, opacity .2s;
}
.menu-fonts-nav-search:hover {
	background-color: var(--white);
}
.menu-fonts-nav-search svg {
	height: 16px;
	width: 16px;
}
.menu-fonts-nav-search input {
	height: 100%;
	text-align: center;
	border: unset;
	color: var(--black);
	background-color: transparent;
	flex-grow: 1;
	font-family: "limkin", sans-serif;
	font-size: 14px;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1em;
	padding-top: .18em;
	padding-right: 20px;
}
.menu-fonts-nav-search input::placeholder {
	color: var(--black);
}
.menu-fonts-nav-search input:focus {
	outline: unset;
}
.menu-fonts-nav-button {
	padding: 0 20px;
	border-radius: 20px;
	flex-grow: 1;
	height: 40px;
	background-color: var(--primary);
	fill: var(--black);
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	transition: color .2s, background-color .2s, fill .2s, opacity .2s;
}
.menu-fonts-nav-button:hover {
	background-color: var(--white);
}
.menu-fonts-nav-button:active {
	opacity: .5;
}
.menu-fonts-nav-button svg {
	height: 16px;
	width: 16px;
}
.menu-fonts-nav-button span {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .18em;
	padding-right: 20px;
	font-size: 14px;
	font-variation-settings: "wght" 550, "SRFF" 0;
	font-weight: 550;
	line-height: 1em;
}
.menu-fonts-button {
	z-index: 9;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 7.5px;
	cursor: pointer;
	background-color: var(--primary);
	fill: var(--primary);
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
	transform: scale(1);
	transition: opacity .2s, fill .2s, background-color .2s, transform .5s .5s;
}
.menu-fonts[data-active="0"] .menu-fonts-button {
	transform: scale(0);
	transition: opacity .2s, fill .2s, background-color .2s, transform .5s;
}
.menu-fonts-button:hover {
	background-color: var(--white);
	fill: var(--white);
}
.menu-fonts-button:active {
	opacity: .5;
}
.menu-fonts-button-text {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	letter-spacing: -0.05em;
	border-radius: 50%;
	fill: var(--black);
	transition: transform .5s;
}
.menu-fonts-button:hover .menu-fonts-button-text {
	transform: rotate(360deg);
}
.menu-fonts-button-icon {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 50px;
	height: 50px;
	background-color: var(--black);
	border-radius: 50%;
	padding: 15px;
}
.menu-fonts-button-icon svg {
	width: 100%;
	height: 100%;
}
#menu-fonts-input {
	display: none;
}
.menu-fonts-items {
	min-height: calc(100dvh - 60px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 120px 40px;
	gap: 10px;
}
.menu-fonts-item-transform {
	position: relative;
	min-width: 0;
	transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}
.menu-fonts-item-transform[data-filter="0"] {
	display: none;
}
.menu-fonts-item-transform[data-search="0"] {
	display: none;
}
.menu-fonts-item {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: unset;
	background-color: var(--black);
	cursor: pointer;
	transition: background-color .5s, transform .5s;
	min-height: 300px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	overflow: hidden;
}
.menu-fonts[data-active="0"] .menu-fonts-item {
	transition: transform 1s;
}
.menu-fonts-item:hover {
	background-color: var(--primary);
	transform: rotate(0deg) !important;
}
.menu-fonts-item:active {
	transition: background-color .5s, transform .2s;
	transform: rotate(0deg) scale(.9) !important;
}
.menu-fonts-item-preview {
	font-size: 3.5vw;
	white-space: nowrap;
	color: var(--primary);
	transition: color .5s;
}
.menu-fonts-item:hover .menu-fonts-item-preview {
	color: var(--black);
}
.menu-fonts-item-info {
	position: absolute;
	bottom: 10px;
	color: var(--white);
	max-width: calc(100% - 80px);
	transition: color .5s;
}
.menu-fonts-item:hover .menu-fonts-item-info {
	color: var(--black);
}
.menu-fonts-item-name {
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
}
.menu-fonts-item-designer {
	font-weight: 300;
	font-variation-settings: "wght" 300, "SRFF" 0;
}
.menu-fonts-item-credit {
	position: absolute;
	top: 10px;
	color: var(--white);
	opacity: .5;
	font-size: 12px;
	font-weight: 500;
	font-variation-settings: "wght" 500, "SRFF" 0;
	max-width: calc(100% - 80px);
	text-wrap: pretty;
	line-height: 1.2em;
	transition: color .5s;
}
.menu-fonts-item:hover .menu-fonts-item-credit {
	color: var(--black);
}
.menu-fonts-item-bolt {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--primary);
	transition: background-color .5s;
}
.menu-fonts-item-bolt[data-position="0"] {
	top: 10px;
	left: 10px;
}
.menu-fonts-item-bolt[data-position="1"] {
	top: 10px;
	right: 10px;
}
.menu-fonts-item-bolt[data-position="2"] {
	bottom: 10px;
	left: 10px;
}
.menu-fonts-item-bolt[data-position="3"] {
	bottom: 10px;
	right: 10px;
}
.menu-fonts-item:hover .menu-fonts-item-bolt {
	background-color: var(--black);
}
@media only screen and (max-width: 1000px) {
	.menu-fonts-items {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.menu-fonts-item-preview {
		font-size: 4vw;
	}
}
@media only screen and (max-width: 800px) {
	.menu-fonts-items {
		grid-template-columns: 1fr 1fr;
	}
	.menu-fonts-item-preview {
		font-size: 6vw;
	}
}
@media only screen and (max-width: 600px) {
	.menu-fonts-items {
		grid-template-columns: 1fr;
	}
	.menu-fonts-item-preview {
		font-size: 9vw;
	}
}

/* Instruments */
.instrument {
	position: fixed;
	top: 80px;
	left: 80px;
	width: calc(100vw - 160px);
	height: calc(100dvh - 160px);
	display: grid;
	grid-template-columns: 1fr min-content;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
	transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}
.instrument[data-position="right"] {
	transform: translateX(120vw) rotate(-5deg);
}
.instrument[data-position="center"] {
	transform: translateX(0) rotate(0deg);
}
.instrument[data-position="left"] {
	transform: translateX(-120vw) rotate(5deg);
}
.instrument-screen {
	flex-grow: 1;
	background-color: var(--primary);
	border-radius: 20px;
	padding: 40px;
	overflow: hidden;
	transition: background-color 1s;
	position: relative;
	display: grid;
	grid-template-rows: 1fr min-content;
}
.instrument-text {
	word-break: break-word;
	background-color: var(--white);
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 40px;
	font-size: var(--fontsize);
	letter-spacing: var(--letterspacing);
	line-height: var(--lineheight);
	text-align: var(--alignment);
	text-transform: var(--capitalization);
	display: flex;
	align-items: safe center;
	justify-content: safe center;
	border-radius: 10px 10px 0 0;
}
.instrument-text:focus {
	outline: unset;
}
.instrument-screen-generator {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	width: 100%;
	height: 20px;
	gap: 2px;
	white-space: nowrap;
	overflow-x: scroll;
	background-color: var(--black);
	height: 24px;
	padding: 2px;
	border-radius: 0 0 6px 6px;
}
.instrument-screen-generator-title {
	height: 100%;
	color: var(--primary);
	padding: .2em 10px 0 10px;
	border-radius: 4px;
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	line-height: 1em;
	padding-top: .3em;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.instrument-screen-generator-button {
	height: 100%;
	background-color: var(--primary);
	color: var(--black);
	border-radius: 4px;
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	line-height: 1em;
	padding: .2em 10px 0 10px;
	transition: background-color .2s, opacity .2s;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.instrument-screen-generator-button:hover {
	background-color: var(--white);
}
.instrument-screen-generator-button:active {
	opacity: .5;
}
.instrument-screen-bolt {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--black);
	transition: background-color 1s;
	z-index: 1;
	pointer-events: none;
}
.instrument-screen-bolt[data-position="0"] {
	top: 10px;
	left: 10px;
}
.instrument-screen-bolt[data-position="1"] {
	top: 10px;
	right: 10px;
}
.instrument-screen-bolt[data-position="2"] {
	bottom: 10px;
	left: 10px;
}
.instrument-screen-bolt[data-position="3"] {
	bottom: 10px;
	right: 10px;
}

/* ———————————————————————————————————— */
/* INSTRUMENT CONTROLS */
/* ———————————————————————————————————— */
.instrument-controls {
	border-radius: 20px;
	background-color: var(--black);
	position: relative;
	max-width: 800px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

/* Instrument global controls */
.instrument-controls-global {
	background-color: var(--black2);
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 20px;
	width: 100%;
	z-index: 2;
	position: sticky;
	top: 0;
	border-radius: 20px;
}
.instrument[data-global="0"] .instrument-controls-global {
	display: none;
}

/* Instrument axes */
.instrument-axes {
	display: flex;
	gap: 20px;
	padding: 20px;
	flex-grow: 1;
	overflow-x: scroll;
}
.instrument-axis {
	flex-shrink: 0;
	width: 100px;
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 2px;
}
.instrument-axis-divider {
	height: 100%;
	width: 2px;
	border-radius: 1px;
	position: sticky;
	top: 0;
	background-color: var(--primary);
}
.instrument-axis-section {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.instrument-axis-section-label {
	color: var(--primary);
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	line-height: 1em;
	padding-top: .3em;
	transition: color .2s;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
}

/* Instrument sliders */
.instrument-axis-slider {
	border: 2px solid var(--primary);
	flex-grow: 1;
	position: relative;
	cursor: pointer;
	padding: 2px;
	background-color: var(--black);
	fill: var(--black);
	color: var(--black);
	transition: border .2s;
	min-height: 100px;
	border-radius: 5px;
	display: flex;
	align-items: end;
}
.instrument-axis-slider:hover {
	border: 2px solid var(--white);
}
.instrument-axis-slider:active {
	cursor: ns-resize;
}
.instrument-axis-slider-fill {
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	transition: background-color .2s;
	border-radius: 1px;
}
.instrument-axis-slider:hover .instrument-axis-slider-fill {
	background-color: var(--white);
}
.instrument-axis-slider-value {
	font-size: 12px;
	font-weight: 600;
	font-variation-settings: "wght" 600, "SRFF" 0;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary);
	padding: 0.35em 5px 0.15em 5px;
	border-radius: 10px;
	color: var(--black);
	transition: color .2s, background-color .2s;
}
.instrument-axis-slider:hover .instrument-axis-slider-value {
	background-color: var(--black);
	color: var(--white);
}

/* Instrument incremental value input */
.instrument-axis-increment {
	border: 2px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
	text-align: center;
	background-color: var(--primary);
	border-radius: 5px;
	gap: 2px;
	fill: var(--primary);
	transition: background-color .2s, border .2s;
}
.instrument-axis-increment:hover {
	background-color: var(--white);
	border: 2px solid var(--white);
}
.instrument-axis-increment-button {
	background-color: var(--black);
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	fill: var(--primary);
	border-radius: 4px;
	width: 20px;
	transition: background-color .2s, opacity .2s, fill .2s;
}
.instrument-axis-increment-button:hover {
	background-color: var(--white);
	fill: var(--black);
}
.instrument-axis-increment-button:active {
	opacity: .5;
}
.instrument-axis-increment-button svg {
	height: 100%;
	width: 100%;
	padding: 5px;
}
.instrument-axis-increment-display {
	padding-top: .15em;
	flex-grow: 1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	font-variation-settings: "wght" 600, "SRFF" 0;
	color: var(--black);
	line-height: 1em;
	transition: color .2s;
	letter-spacing: .1em;
}

/* Instrument button group */
.instrument-axis-buttons {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	border: 2px solid var(--primary);
	gap: 2px;
	background-color: var(--primary);
	border-radius: 5px;
	transition: background-color .2s, border .2s;
}
.instrument-axis-buttons:hover {
	background-color: var(--white);
	border: 2px solid var(--white);
	fill: var(--white);
}
.instrument-axis-button {
	border-radius: 4px;
	white-space: nowrap;
	height: 20px;
	padding: 4px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	color: var(--black);
	line-height: 1em;
	border: unset;
	text-align: center;
	background-color: var(--black);
	color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	fill: var(--primary);
	transition: background-color .2s, color .2s, opacity .2s, fill .2s;
}
.instrument-axis-button span {
	padding-top: .2em;
	display: inline-block;
}
.instrument-axis-button svg {
	height: 100%;
}
.instrument-axis-button[data-active="1"] {
	background-color: var(--primary);
	color: var(--black);
	fill: var(--black);
}
.instrument-axis-button:hover {
	background-color: var(--white);
	color: var(--black);
	fill: var(--black);
}
.instrument-axis-button:active {
	opacity: .5;
}

/* Instrument axis label */
.instrument-axis-label {
	height: 40px;
	color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 550;
	font-variation-settings: "wght" 550, "SRFF" 0;
	line-height: 1em;
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	transition: color .2s;
	margin-top: 8px;
}
.instrument-axis-label-code {
	font-size: 10px;
	font-weight: 700;
	font-variation-settings: "wght" 700, "SRFF" 0;
	line-height: 1em;
}
.instrument-axis-label-name {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.instrument-axis:hover .instrument-axis-label {
	color: var(--white);
}
.instrument-axis:hover .instrument-axis-section-label {
	color: var(--white);
}